<div class="container text-center">
  <h1>Events</h1>
  <div class="row text-center">
    <% @events.each do |event| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path event.poster.path %>')">
          <div class="card-content">
              <p><%= link_to event.title, event_path(event) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- create event button only displays if user is an organizer -->
  <% if user_signed_in? && current_user.is_organizer == true %>
    <p><%= link_to "Create an event", new_event_path, class: "btn btn-primary" %></p>
  <% end %>
</div>

  <div id="map" style="width: 80%; height: 600px; margin: auto;"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>

