<div class="container">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <h3><%= @event.title %></h3>
      <p>Date & Time: <%= @event.date %></p>
      <p>Location: <%= @event.location %></p>
      <p>Type: <%= @event.category.capitalize %></p>
      <p>Organizer: <%= @event.user.first_name %> <%= @event.user.last_name %></p>

      <p><%= @event.bookings.count %> people have registered so far!</p>

      <!-- checks if user is the organizer of event -->
      <% if user_signed_in? && current_user.id == @event.user_id %>
        <h3>Registered volunteers</h3>

        <% @event.bookings.map do |booking| %>
          <p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
        <% end %>

        <%= link_to "Edit", edit_event_path %>
        <%= link_to "Delete", event_path, method: "delete" %>

        <!-- checks if user has already registered for the event -->
        <% elsif user_signed_in? && !@user_check.empty? %>
            <strong><p>You have already registered for this event!</p></strong>
        <% else %>

            <%= link_to "Sign up", event_bookings_path(@event), method: "post" %>
        <% end %>

        <%= link_to "Return", events_path %>
    </div>
  </div>
</div>

<div id="map" style="width: 80%; height: 600px; margin: auto;"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @event_coordinates.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>

