<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-brand">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <h3> Volunteer Us</h3>
    <% end %>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Link to all events -->
    <%= link_to "Events", events_path, class: "navbar-wagon-item navbar-wagon-link navbar-events" %>

    <% if user_signed_in? && current_user.is_organizer == true %>
      <%= link_to "Create Your Event", new_event_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

    <% if user_signed_in? %>
    <!-- Avatar with dropdown menu -->
      <a class="navbar-wagon-item navbar-wagon-link">Welcome, <%= current_user.first_name %></a>

      <div class="navbar-wagon-item">

        <div class="dropdown">
          <% if current_user.provider == "facebook"  %>
            <%= image_tag current_user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <% if current_user.photo? %>
              <%= cl_image_tag current_user.photo.path, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown", width: 30, height: 30, crop: :fill %>
              <% else %>
              <%= image_tag "placeholder.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% end %>
          <% end %>

           <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to pages_profile_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>

      </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
         <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to pages_profile_path do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <% else %>
    <!-- Login link when not logged in -->
      <%= link_to t(".sign_in", default: "Sign up | Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link navbar-sign" %>
    <% end %>

  </div>
</div>
