  <div class="event-form">
    <%= simple_form_for @event do |f| %>
      <%= f.input :title %>
      <%= f.input :date %>
      <%= f.input :location %>
      <%= f.input :poster, as: :attachinary %>
      <%= f.input :images, as: :attachinary %>
      <%= f.input :category, collection: Event::CATEGORY %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
